@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to left top, #BEEBC2, #EEFCF1);
    background-size: 3000px;
    background-position: center;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 60px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #333;
}

.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header p {
  margin-bottom: 0;
  color: #0A6835;
}

#back-btn {
  display: block;
  text-align: left;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  border: none; /* Ensure no border */
  background: none;
  color: #6caf87;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 20px;
}

#back-btn:hover {
  text-decoration: underline; /* Underline on hover */
  color: #4a7b5c;
}

/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5B9472;
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.icons2 {
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  margin-left: auto; /* Pushes the icons to the right */
}

.icons3 {
  display: none;
  font-size: 2.8rem; /* Adjust the size as needed */
}

#check:checked~.navbar a.bxs-user-circle {
  font-size: 2.8rem;
}


#check {
display: none;
}

.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  display: inline-block;
  line-height: 50px;
  text-align: center;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 55px;
  border-width: 2px;
  padding: 0.1px 4px;
}

.icons2 i:hover,
.logo:hover {
  transform: scale(1.1);
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/*BREAKPOINT*/
@media (max-width: 992px) {
  .header {
    padding: 1.3rem;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

 .icons2 {
  display: none;
 }

 .icons3 {
  display: block;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #538767;
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.navbar {
    height: 17.7rem;
  }

  .navbar a{
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }

}
/*--------------------------------------------------------------
# End Navbar Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.title2 {
  max-width: 450px;
  height: auto;
  margin-bottom: 40px;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url('/Impact/assets/img/bg12.jpg') center/cover no-repeat;
  display: flex;
  position: relative;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #0A6835;
}

#hero h2 {
  color: #333;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  text-transform: uppercase;
  background: #6caf87;
}

#hero .btn-get-started:hover {
  background: #4a7b5c;
}


#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Nutriens Section
--------------------------------------------------------------*/
.Nutriens-container .container {
  width: 100%;
  max-width: 1000px;
  background: #5B9472;
  padding: 80px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
}

.Nutriens-container .form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  border-bottom: solid 1px white;
}

.Nutriens-container .main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.Nutriens-container .user-input-box:nth-child(2n) {
  justify-content: end;
}

.Nutriens-container .user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.Nutriens-container .user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.Nutriens-container .user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 100px;
  outline: none;
  border: 1px solid white;
  padding: 0 10px;
}

.Nutriens-container .form-submit-btn {
  margin-top: 40px;
  text-align: center;
}

.Nutriens-container .form-submit-btn input {
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 100px;
  background: white;
}

.Nutriens-container .form-submit-btn input:hover {
  background: rgba(0, 0, 0, .2);
  color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .Nutriens-container .container {
    min-width: 280px;
  }

  .Nutriens-container .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }

  .Nutriens-container .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }

  .Nutriens-container .main-user-info {
    max-height: 380px;
    overflow: auto;
  }

  .Nutriens-container .main-user-info::-webkit-scrollbar {
    width: 0;
  }
}
/*--------------------------------------------------------------
# recipe
--------------------------------------------------------------*/
.recipe-container{
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}
.recipe-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipe-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background: #5B9472;
  color: #fff;
  text-align: center;
}

.recipe-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px;
}

.recipe-item .recipe-info {
  flex-grow: 1;
  padding: 10px;
  text-align: left;
}

.recipe-item .recipe-actions {
  padding: 10px;
}

.recipe-item div {
  flex-grow: 1;
  padding: 10px;
  text-align: left; /* Adjust text alignment as needed */
}

.recipe-item h2 {
  margin: 0;
  font-size: 20px;
  padding: 10px;
  min-width: 200px;
}

.recipe-item p {
  margin: 0;
  padding: 10px;
  color: #fff; /* Text color */
}

.recipe-item .custom-btn {
  display: inline-block;
  width: 80%;
  max-width: 200px;
  margin: 10px auto;
  font-size: 14px;
  padding: 8px 15px;
  border: none;
  border-radius: 50px;
  background: #fff;
  color: black;
  text-align: center;
  cursor: pointer;
}

.recipe-item .custom-btn:hover {
  background: #4a7b5c;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .recipe-item {
    flex-direction: column;
  }

  .recipe-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .recipe-item h2 {
    font-size: 20px;
    padding: 0;
    margin-bottom: 10px;
  }

  .recipe-item p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .recipe-item a {
    width: 100%;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# detail recipe
--------------------------------------------------------------*/
.detailrecipe {
  background-color: #5B9472; /* Same background color as the recipe page */
  color: white; /* Text color */
  border-radius: 20px;
}

.detailrecipe .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.detailrecipe .row {
  display: flex;
  flex-wrap: wrap;
}

.detailrecipe .recipe-info {
  display: flex;
  justify-content: space-between;
}

.detailrecipe .left-column {
  flex: 1;
}

.detailrecipe .recipe-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.detailrecipe .nutrition-info {
  list-style: none;
  padding: 0;
}

.detailrecipe .right-column {
  flex: 2;
  margin-left: 20px;
}

.detailrecipe .recipe-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.detailrecipe .recipe-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.detailrecipe .cooking-time,
.detailrecipe .origin {
  font-size: 14px;
  margin-bottom: 10px;
}

.detailrecipe .ingredients-list,
.detailrecipe .instructions {
  margin-top: 20px;
}

.detailrecipe .ingredients-list ul,
.detailrecipe .instructions ol {
  list-style: none;
  padding: 0;
}

.detailrecipe .ingredients-list li,
.detailrecipe .instructions li {
  font-size: 14px;
  margin-bottom: 5px;
}


/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/


.portfolio .portfolio-flters {
    padding: 0 0 20px 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    color: #0A6835;
  }

  .portfolio .portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
  }

  .portfolio .portfolio-flters li:hover,
  .portfolio .portfolio-flters li.filter-active {
  background-color: #BEEAC2;
  border-radius: 15px;
  border-width: 5px;
  padding: 1px 8px;
  }

  .portfolio .portfolio-flters li:first-child {
    margin-left: 0;
  }

  .portfolio .portfolio-flters li:last-child {
    margin-right: 0;
  }

  @media (max-width: 575px) {
    .portfolio .portfolio-flters li {
      font-size: 14px;
      margin: 0 5px;
    }
  }

  .portfolio .portfolio-wrap {
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
  }

  .portfolio .portfolio-wrap img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
  }

  .portfolio .portfolio-wrap .portfolio-info {
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 a {
    color: var(--color-default);
    transition: 0.3s;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 a:hover {
    color: var(--color-primary);
  }

  .portfolio .portfolio-wrap .portfolio-info p {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
  }

  .portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
  }

  /*--------------------------------------------------------------
  # Portfolio Details Section
  --------------------------------------------------------------*/

  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }

  .portfolio-details .swiper-button-prev,
  .portfolio-details .swiper-button-next {
    width: 48px;
    height: 48px;
  }

  .portfolio-details .swiper-button-prev:after,
  .portfolio-details .swiper-button-next:after {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  .portfolio-details .swiper-button-prev:hover:after,
  .portfolio-details .swiper-button-next:hover:after {
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 575px) {

    .portfolio-details .swiper-button-prev,
    .portfolio-details .swiper-button-next {
      display: none;
    }
  }

  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  .portfolio-details .portfolio-info h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
  }

  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }

  .portfolio-details .portfolio-info ul li {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    font-size: 16px;
  }

  .portfolio-details .portfolio-info ul strong {
    text-transform: uppercase;
    font-weight: 400;
    color: #9c9c9c;
    font-size: 12px;
  }

  .portfolio-details .portfolio-info .btn-visit {
    padding: 8px 40px;
    background: var(--color-primary);
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
  }

  .portfolio-details .portfolio-info .btn-visit:hover {
    background: #009d8b;
  }

  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .portfolio-details .portfolio-description p {
    padding: 0;
  }

  .portfolio-details .portfolio-description .testimonial-item {
    padding: 30px 30px 0 30px;
    position: relative;
    background: white;
    height: 100%;
    margin-bottom: 50px;
  }

  .portfolio-details .portfolio-description .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50px;
    border: 6px solid #fff;
    float: left;
    margin: 0 10px 0 0;
  }

  .portfolio-details .portfolio-description .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 5px 0;
    padding-top: 20px;
  }

  .portfolio-details .portfolio-description .testimonial-item h4 {
    font-size: 14px;
    color: #6c757d;
    margin: 0;
  }

  .portfolio-details .portfolio-description .testimonial-item .quote-icon-left,
  .portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
    color: #009d8b;
    font-size: 26px;
    line-height: 0;
  }

  .portfolio-details .portfolio-description .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }

  .portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
  }

  .portfolio-details .portfolio-description .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px 0 0 0;
    padding: 0;
  }

/*--------------------------------------------------------------
  # Profile Section
  --------------------------------------------------------------*/

.card {
  width: 100%;
  max-width: 1200px;
  opacity: 0.8;
  background: #5B9472;
  padding: 80px;
  margin: 0 auto;
  border-radius: 10px;
}

.profile-container {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #0A6835;
}

.profile-form-label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.profile-btn {
  background-color: transparent;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
}

.profile-btn2 {
  width: 150px;
  height: 60px;
  background-color: #6caf87;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}


.profile-btn2:hover {
  background-color: #5B9472;
}

.profile-btn3 {
  display: inline-block;
  padding: 8px 12px;
  background-color: #6caf87;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.profile-btn3:hover {
  background-color: #5B9472;
}


.account-settings-fileinput {
  position  : absolute;
  visibility: hidden;
  width     : 1px;
  height    : 1px;
  opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;

}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: #0A6835 !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

